@model PhoneWeb.Models.Employees


@{
    ViewBag.Title = "Телефоны ОГТ";
    Layout = "~/Views/_LayoutPage.cshtml";
}

<div class="container-fluid">

    <h2 class="text-center">Телефоны ОГТ</h2>
    <p class="text-center" id="txtUnderHeader">@ViewBag.TxtUnderHeader</p>



    <div class="col-lg-3 col-md-3 col-sm-4">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h5>Список бюро по производствам</h5>
            </div>
            <div class="panel-body">

                <div id="menu1">

                    <button onclick="f('ogt')">ОГТ</button>
                    <div id="ogt" class="men">
                        <ul>
                            <li><a href="#">HTML</a></li>
                            <li><a href="#">CSS</a></li>
                            <li><a href="#">jQuery</a></li>
                            <li><a href="#">PHP</a></li>
                            <li><a href="#"> Видео курс </a></li>
                        </ul>
                    </div>
                    <button onclick="f('ppo')">ППО</button>
                    <div id="ppo" class="men">
                        <ul>
                            <li><a href="#">HTML</a></li>
                            <li><a href="#">CSS</a></li>
                            <li><a href="#">jQuery</a></li>
                            <li><a href="#">PHP</a></li>
                            <li><a href="#"> Видео курс </a></li>
                        </ul>
                    </div>
                    <button onclick="f('gro')">ГРОиКПО</button>
                    <div id="gro" class="men">
                        <ul>
                            <li><a href="#">HTML</a></li>
                            <li><a href="#">CSS</a></li>
                            <li><a href="#">jQuery</a></li>
                            <li><a href="#">PHP</a></li>
                            <li><a href="#"> Видео курс </a></li>
                        </ul>
                    </div>
                    <button onclick="f('shpo')">ПМиШПО</button>
                    <div id="shpo" class="men">
                        <ul>
                            <li><a href="#">HTML</a></li>
                            <li><a href="#">CSS</a></li>
                            <li><a href="#">jQuery</a></li>
                            <li><a href="#">PHP</a></li>
                            <li><a href="#"> Видео курс </a></li>
                        </ul>
                    </div>
                    <button onclick="f('valki')">ПВиЭО</button>
                    <div id="valki" class="men">
                        <ul>
                            <li><a href="#">HTML</a></li>
                            <li><a href="#">CSS</a></li>
                            <li><a href="#">jQuery</a></li>
                            <li><a href="#">PHP</a></li>
                            <li><a href="#"> Видео курс </a></li>
                        </ul>
                    </div>
                </div>


                <ul class="list-group">
                    <li class="list-group-item my-list-group">

                        @Ajax.ActionLink("Все", "EmloyeeSearch", new { surname = " "}, new AjaxOptions { UpdateTargetId = "results", HttpMethod = "Post"}, new { @class= "text-uppercase", @onclick = "f('valki')" })

                        <ul class="list-group">

                            @foreach (var _div in ViewBag.Divisions)
                            {
                                <li class="list-group-item">

                                    <p>                                        
                                        @{ string t = @_div.Name.ToString();}

                                        @Ajax.ActionLink(t, "EmloyeeFilterByDivision", new { division = t}, new AjaxOptions { UpdateTargetId = "results", HttpMethod = "Post" })
                                    </p>

                                    <ul class="list-group">
                                        @foreach (var bureau in _div.Bureaus)
                                        {
                                            <li class="list-group-item list-group-item-warning">
                                                
                                                @{ string t2 = @bureau.ToString();}

                                                @Ajax.ActionLink(t2, "EmloyeeFilterByBureau", new { bureau = t2 }, new AjaxOptions { UpdateTargetId = "results", HttpMethod = "Post" })
                                            </li>
                                        }
                                    </ul>
                                </li>
                            }

                        </ul>
                    </li>
                </ul>

            </div>
        </div>



    </div>


    <div class="col-lg-5 col-md-7 col-sm-8 table-responsive">

        @using (Ajax.BeginForm("EmloyeeSearch", new AjaxOptions { UpdateTargetId = "results" }))
        {
            <div class="input-group">
                <input type="text" name="surname" class="form-control input-lg" placeholder="Введите фамилию" />                
                <div class="input-group-btn">
                    <button class="btn btn-default btn-lg" type="submit">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
        }

        <div id="results">
            <table class="table table-striped">
                <thead>
                    <tr class="text-uppercase">
                        <th>Фамилия</th>
                        <th>Имя</th>
                        <th>Отчество</th>
                        <th>Телефон</th>
                        <th>Номер комнаты</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var emp in Model)
                    {
                        <tr>
                            <td><b>@emp.Surname</b></td>
                            <td>@emp.Name</td>
                            <td>@emp.Patronymic</td>
                            <td>@emp.Phone</td>
                            <td>@emp.Room</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>

<script>
    function f(p){
        if(p == 'ogt'){
            if($('#ogt').css( "display" ) == 'none') $('#ogt').show();
            else $('#ogt').hide();
        }
        else if(p == 'ppo'){
            if($('#ppo').css( "display" ) == 'none') $('#ppo').show();
            else $('#ppo').hide();
        }
        else if(p == 'gro'){
            if($('#gro').css( "display" ) == 'none') $('#gro').show();
            else $('#gro').hide();
        }
        else if(p == 'shpo'){
            if($('#shpo').css( "display" ) == 'none') $('#shpo').show();
            else $('#shpo').hide();
        }
        else if(p == 'valki'){
            if($('#valki').css( "display" ) == 'none') $('#valki').show();
            else $('#valki').hide();
        }
    }
</script>